@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer base {
  @font-face {
    font-family: 'Estedad';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/Estedad.woff) format('woff');
  }

  html {
    font-family: 'Estedad', Verdana, Geneva, Tahoma, sans-serif;
  }
}

* {
  direction: rtl;
}

body > div.w-full.h-auto.flex.p-20 > div > div.swiper-wrapper > div.swiper-slide.swiper-slide-active, body > div.w-full.h-auto.flex.p-10.sm\:p-20 > div > div.swiper-wrapper > div.swiper-slide.swiper-slide-active  {
  padding-bottom: 35px !important;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}